h1,h2 {
  font-size: 20px;

}
h3,p {
  font-size:12px;
}

#logo {
  width:50%;
}

.name {

  margin-left: 55%;
  margin-top: -87px;
}

#image {
  padding:20px 0px 0px 0px ;
}
 .skill-logo {
   width: 30%;
 }
